body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f9fafc;
}

ul {
  list-style: none;
}
nav ul{
    text-decoration: none;

}

.button{
    background-color: #000;
    border-radius: 15px;
    padding: 10px 24px;
    text-align:center;
    Color:#FFF;
    width:100%;
  }